@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
<<<<<<< HEAD
    background-image: url('/src/images/ingram-schell-06-02-opalcliffs-artstation.png');
=======
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/027/767/911/4k/ingram-schell-06-02-opalcliffs-artstation.jpg?1592491960");
>>>>>>> 35ef2a4d9971db4f51991af85536ce7343576351
    background-attachment: fixed; 
    background-size: cover;
}

main {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

picture img {
    width: 400px;
    display: flex;
    right: 0;
    left: 0;
    margin: 30px auto;
}

.pokedex {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px 0px;

}
